<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSResourceDescriptor</key>
	<dict>
		<key>rootNode</key>
		<string>resourceDescriptor</string>
		<key>mappingPaths</key>
		<array>
			<string>resourceDescriptors.resourceDescriptor</string>
			<string>resourceDescriptor</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>name</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>wsType</string>
				<key>prop</key>
				<string>wsType</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>uriString</string>
				<key>prop</key>
				<string>uriString</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>isNew</string>
				<key>prop</key>
				<string>isNew</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>label</string>
				<key>prop</key>
				<string>label</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>description</string>
				<key>prop</key>
				<string>resourceDescription</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>creationDate</string>
				<key>prop</key>
				<string>creationDate</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>resourceProperty</string>
				<key>prop</key>
				<string>resourceProperties</string>
				<key>class</key>
				<string>JSResourceProperty</string>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>resourceDescriptor</string>
				<key>prop</key>
				<string>childResourceDescriptors</string>
				<key>class</key>
				<string>JSResourceDescriptor</string>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>parameter</string>
				<key>prop</key>
				<string>parameters</string>
				<key>class</key>
				<string>JSResourceParameter</string>
			</dict>
		</array>
	</dict>
	<key>JSResourceLookup</key>
	<dict>
		<key>rootNode</key>
		<string>resourceLookup</string>
		<key>mappingPaths</key>
		<array>
			<string>resources.resourceLookup</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>label</string>
				<key>prop</key>
				<string>label</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>uri</string>
				<key>prop</key>
				<string>uri</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>description</string>
				<key>prop</key>
				<string>resourceDescription</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>resourceType</string>
				<key>prop</key>
				<string>resourceType</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>version</string>
				<key>prop</key>
				<string>version</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>permissionMask</string>
				<key>prop</key>
				<string>permissionMask</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>creationDate</string>
				<key>prop</key>
				<string>creationDate</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>updateDate</string>
				<key>prop</key>
				<string>updateDate</string>
				<key>isAttr</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSResourceProperty</key>
	<dict>
		<key>rootNode</key>
		<string>resourceProperty</string>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>name</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>value</string>
				<key>prop</key>
				<string>value</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>resourceProperty</string>
				<key>prop</key>
				<string>childResourceProperties</string>
				<key>class</key>
				<string>JSResourceProperty</string>
			</dict>
		</array>
	</dict>
	<key>JSResourceParameter</key>
	<dict>
		<key>rootNode</key>
		<string>parameter</string>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>name</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>isListItem</string>
				<key>prop</key>
				<string>isListItem</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>parameter</string>
				<key>prop</key>
				<string>value</string>
				<key>isAttr</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSReportDescriptor</key>
	<dict>
		<key>mappingPaths</key>
		<array>
			<string>report</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>uuid</string>
				<key>prop</key>
				<string>uuid</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>originalUri</string>
				<key>prop</key>
				<string>originalUri</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>totalPages</string>
				<key>prop</key>
				<string>totalPages</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>startPage</string>
				<key>prop</key>
				<string>startPage</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>endPage</string>
				<key>prop</key>
				<string>endPage</string>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>file</string>
				<key>prop</key>
				<string>attachments</string>
				<key>class</key>
				<string>JSReportAttachment</string>
			</dict>
		</array>
	</dict>
	<key>JSReportAttachment</key>
	<dict>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>type</string>
				<key>prop</key>
				<string>type</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>text</string>
				<key>prop</key>
				<string>name</string>
			</dict>
		</array>
	</dict>
	<key>JSServerInfo</key>
	<dict>
		<key>mappingPaths</key>
		<array>
			<string>serverInfo</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>build</string>
				<key>prop</key>
				<string>build</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>edition</string>
				<key>prop</key>
				<string>edition</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>editionName</string>
				<key>prop</key>
				<string>editionName</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>expiration</string>
				<key>prop</key>
				<string>expiration</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>features</string>
				<key>prop</key>
				<string>features</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>licenseType</string>
				<key>prop</key>
				<string>licenseType</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>version</string>
				<key>prop</key>
				<string>version</string>
			</dict>
		</array>
	</dict>
	<key>JSInputControlDescriptor</key>
	<dict>
		<key>mappingPaths</key>
		<array>
			<string>inputControls.inputControl</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>id</string>
				<key>prop</key>
				<string>uuid</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>label</string>
				<key>prop</key>
				<string>label</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>mandatory</string>
				<key>prop</key>
				<string>mandatory</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>readOnly</string>
				<key>prop</key>
				<string>readOnly</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>type</string>
				<key>prop</key>
				<string>type</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>uri</string>
				<key>prop</key>
				<string>uri</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>visible</string>
				<key>prop</key>
				<string>visible</string>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>state</string>
				<key>prop</key>
				<string>state</string>
				<key>class</key>
				<string>JSInputControlState</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>masterDependencies.controlId</string>
				<key>prop</key>
				<string>masterDependencies</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>masterDependencies.controlId</string>
				<key>prop</key>
				<string>masterSingleInputControlID</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>slaveDependencies.controlId</string>
				<key>prop</key>
				<string>slaveDependencies</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>slaveDependencies.controlId</string>
				<key>prop</key>
				<string>slaveSingleInputControlID</string>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>validationRules</string>
				<key>prop</key>
				<string>validationRules</string>
				<key>class</key>
				<string>JSValidationRules</string>
			</dict>
		</array>
	</dict>
	<key>JSInputControlState</key>
	<dict>
		<key>mappingPaths</key>
		<array>
			<string>inputControlStateList.inputControlState</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>id</string>
				<key>prop</key>
				<string>uuid</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>uri</string>
				<key>prop</key>
				<string>uri</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>value</string>
				<key>prop</key>
				<string>value</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>error</string>
				<key>prop</key>
				<string>error</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>options.option</string>
				<key>prop</key>
				<string>options</string>
				<key>class</key>
				<string>JSInputControlOption</string>
			</dict>
		</array>
	</dict>
	<key>JSInputControlOption</key>
	<dict>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>label</string>
				<key>prop</key>
				<string>label</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>value</string>
				<key>prop</key>
				<string>value</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>selected</string>
				<key>prop</key>
				<string>selected</string>
				<key>isAttr</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSReportParameter</key>
	<dict>
		<key>rootNode</key>
		<string>reportParameter</string>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>name</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>value</string>
				<key>prop</key>
				<string>value</string>
				<key>isAttr</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSReportParametersList</key>
	<dict>
		<key>rootNode</key>
		<string>reportParameters</string>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>reportParameter</string>
				<key>prop</key>
				<string>reportParameters</string>
				<key>class</key>
				<string>JSReportParameter</string>
			</dict>
		</array>
	</dict>
	<key>JSValidationRules</key>
	<dict>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>dateTimeFormatValidationRule</string>
				<key>prop</key>
				<string>dateTimeFormatValidationRule</string>
				<key>class</key>
				<string>JSDateTimeFormatValidationRule</string>
			</dict>
		</array>
	</dict>
	<key>JSDateTimeFormatValidationRule</key>
	<dict>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>errorMessage</string>
				<key>prop</key>
				<string>errorMessage</string>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>format</string>
				<key>prop</key>
				<string>format</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
