<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSResourceDescriptor</key>
	<dict>
		<key>rootNode</key>
		<string>resourceDescriptor</string>
		<key>mappingPaths</key>
		<array>
			<string>resourceDescriptors.resourceDescriptor</string>
			<string>resourceDescriptor</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>name</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>wsType</string>
				<key>prop</key>
				<string>wsType</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>uriString</string>
				<key>prop</key>
				<string>uriString</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>isNew</string>
				<key>prop</key>
				<string>isNew</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>label</string>
				<key>prop</key>
				<string>label</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>description</string>
				<key>prop</key>
				<string>resourceDescription</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>creationDate</string>
				<key>prop</key>
				<string>creationDate</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>resourceProperty</string>
				<key>prop</key>
				<string>resourceProperties</string>
				<key>class</key>
				<string>JSResourceProperty</string>
				<key>useNodeInSerialization</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>resourceDescriptor</string>
				<key>prop</key>
				<string>childResourceDescriptors</string>
				<key>class</key>
				<string>JSResourceDescriptor</string>
				<key>useNodeInSerialization</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>parameter</string>
				<key>prop</key>
				<string>parameters</string>
				<key>class</key>
				<string>JSResourceParameter</string>
				<key>useNodeInSerialization</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSResourceProperty</key>
	<dict>
		<key>rootNode</key>
		<string>resourceProperty</string>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>name</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>value</string>
				<key>prop</key>
				<string>value</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>resourceProperty</string>
				<key>prop</key>
				<string>childResourceProperties</string>
				<key>class</key>
				<string>JSResourceProperty</string>
				<key>useNodeInSerialization</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSResourceParameter</key>
	<dict>
		<key>rootNode</key>
		<string>parameter</string>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>name</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>isListItem</string>
				<key>prop</key>
				<string>isListItem</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>parameter</string>
				<key>prop</key>
				<string>value</string>
				<key>isAttr</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSReportDescriptor</key>
	<dict>
		<key>rootNode</key>
		<string>report</string>
		<key>mappingPaths</key>
		<array>
			<string>report</string>
		</array>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>uuid</string>
				<key>prop</key>
				<string>uuid</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>originalUri</string>
				<key>prop</key>
				<string>originalUri</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>totalPages</string>
				<key>prop</key>
				<string>totalPages</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>startPage</string>
				<key>prop</key>
				<string>startPage</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>endPage</string>
				<key>prop</key>
				<string>endPage</string>
				<key>isAttr</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>relation</string>
				<key>node</key>
				<string>file</string>
				<key>prop</key>
				<string>attachments</string>
				<key>class</key>
				<string>JSReportAttachment</string>
				<key>useNodeInSerialization</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>JSReportAttachment</key>
	<dict>
		<key>rootNode</key>
		<string>file</string>
		<key>mappingRules</key>
		<array>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>type</string>
				<key>prop</key>
				<string>type</string>
				<key>isAttr</key>
				<true/>
			</dict>
			<dict>
				<key>type</key>
				<string>property</string>
				<key>node</key>
				<string>text</string>
				<key>prop</key>
				<string>name</string>
				<key>isAttr</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
